<div class="books-grid">
  <% books.forEach(book=>{%>
    <% if(book.coverImagePath) {%>
      <a class="book" href="/books/<%= book.id %>">
       <img width="200px" height="250px" class="book-cover" src="<%= book.coverImagePath %>" alt="">
      </a>
    <% } %>
  <% }) %>
</div>


<% if(totalPages > 1) {%>
  <div class="pagination">
    <% for (let i = 1; i <= totalPages; i++) { %>
      <a href="?page=<%= i %>" class="<%= currentPage == i ? 'active' : '' %>"><%= i %></a>
    <% } %>
  </div>
<% } %>