<h2 class="page-header"><%= book.title %></h2>

<div class="form-row">
  <div class="form-item">
    <img width="200px" height="250px" src="<%= book.coverImagePath %>" alt="">
    <div class="btns">
      <% if(book.author !== null) {%>
        <a class="styled-btn" href="/authors/<%= book.author.id %>">View Author</a>
        <% } %>
        <% if (locals.isAdmin == true) { %>
          <a class="styled-btn" href="/books/<%= book.id %>/edit">Edit</a>
        <% }%>

    </div>
    <% if (locals.isAdmin == true) { %>
      <%- include('../partials/deleteForm', { url:`/books/${book.id}` }) -%>
    <% }%>
  
  </div>

  <div class="form-item">
    <% if(book.author != null) {%>
      <div>Author:<%= book.author.name %> </div>
    <% } %>

    <div>Published Date:<%= book.publishedDate.toDateString() %> </div>
    <div>Page count:<%= book.pageCount %> </div>
    <div>Description:<%= book.description %> </div>

  </div>
    
</div>


