<h2 class="page-header">Search authors</h2>

<form action="/authors" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label for="name">Name</label>
      <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>
    <div class="form-item">
      <button class="styled-btn short" type="submit">Search</button>
    </div>
  </div>
</form>


<div class="authors-grid">
  <% authors.forEach(author=>{%>
    <div class="author-card">
      <div style="width: 100%;">
        <h3 class="author-name"><%= author.name %></h3>
      </div>
      <a class="book" href="/authors/<%= author.id %>">
        <img width="200px" height="250px" class="book-cover" src="<%= author.coverImagePath %>" alt="">
       </a>
      <div class="author-btns">
        <a class="styled-btn" href="/authors/<%= author.id %>">View</a>
        <% if (locals.isAdmin == true) { %>
          <a class="styled-btn" href="/authors/<%= author.id %>/edit">Edit</a>
          <%- include('../partials/deleteForm', { url:`/authors/${author.id}` }) -%>
        <% }%>
      </div>
    </div>
    <% }) %>
</div>
