<h2 class="page-header"><%= author.name %></h2>

<% if(author.coverImagePath) {%>
  <a class="book" href="/authors/<%= author.id %>">
   <img width="200px" height="250px" class="book-cover" src="<%= author.coverImagePath %>" alt="">
  </a>
<% } %>
<div class="author-form">
  <div class="btns">
    <% if (locals.isAdmin == true) { %>
      <a  class="styled-btn" href="/authors/<%= author.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm',{url:`/authors/${author.id}`}) -%>
    <% }%>
  </div>
</div>

<h2>Books by author</h2>
<% if(booksByAuthor.length > 0) {%>
  <%- include('../books/books',{books:booksByAuthor, pagination:false}) -%>
<% } %>

